<div class="container">
  <div class="map" #mapElement></div>

  <div class="data">

    <ng-container *ngIf="pointsOfInterest.length > 0; else noPointOfInterestTemplate">
      <ul class="points-of-interest">
        <li class="poi" *ngFor="let poi of pointsOfInterest">
          <div class="index">
            {{ poi.marker.getLabel() }}
          </div>
          <div class="name">
            <input placeholder="Nom du point" [(ngModel)]="poi.name">
          </div>
          <div class="coordinates">
            {{ poi.marker.getPosition()!.lat() | number:'1.3-3' }},
            {{ poi.marker.getPosition()!.lng() | number:'1.3-3' }}
          </div>
          <div class="actions">
            <button class="copy" title="Copier les coordonées" (click)="copyPointOfInterestToClipboard(poi)">
              <span class="material-icons">content_copy</span>
            </button>
            <button class="delete" title="Supprimer ce Point d'Intérêt" (click)="removePointOfInterest(poi)">
              <span class="material-icons">delete_forever</span>
            </button>
          </div>
        </li>
      </ul>
      <div class="form">
        <button class="button" (click)="exportPointsOfInterest()">
          Exporter les Points d'Intérêt
        </button>
      </div>
    </ng-container>

    <ng-template #noPointOfInterestTemplate>
      <h1 class="instructions">
        Cliquez sur la carte pour ajouter/retirer des Points d'Intérêt
      </h1>
      <div class="form">
        <label class="button" for="upload-points-of-interest-file">
          Importer des Points d'Intérêt
        </label>
        <input type="file" id="upload-points-of-interest-file" (change)="importPointsOfInterst($event)">
      </div>
    </ng-template>

  </div>
</div>
