:host {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.map {
  position: sticky !important;
  top: 0;
  height: 100vh;
}

.data {
  position: relative;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.1);
}

.instructions {
  margin: 15vh 2rem 2rem;
  text-align: center;
}

.form {
  margin: 2rem;
  text-align: center;
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #fc034e;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  transition: all 150ms cubic-bezier(0, 0, 0.2, 0.1);

  &:hover {
    background-color: #c4003b;
  }

  &:focus {
    box-shadow : 0 0 0 5px rgba(255, 0, 77, 0.2);
  }
}

.points-of-interest, .gpx-tracks {

  .poi, .track {
    display: flex;
    padding: 0.7rem 1rem;
    align-items: center;

    &:nth-child(odd) {
      background-color: #eee;
    }

    &:nth-child(even) {
      background-color: #fff;
    }

    .index {
      flex: 0 0 1.8rem;
    }

    .name {
      flex: 1 1 200px;
      margin-right: 1rem;
    }

    .actions {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      button {
        display: flex;
        align-items: center;
        line-height: 26px;
        margin: 0.1rem;
        padding: 0.4rem 0.6rem;
        background-color: #4287f5;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
        transition: all 150ms cubic-bezier(0, 0, 0.2, 0.1);

        &:hover {
          background-color: #245096;
        }

        &:focus {
          box-shadow : 0 0 0 5px rgba(0, 99, 255, 0.2);
        }

        &.copy {
          font-family: 'Ubuntu Mono', monospace;
        }

        .material-icons {
          display: inline-block;
          vertical-align: middle;
          height: 26px;
          width: 26px;
          line-height: 26px;
        }

        &.copy .material-icons {
          font-size: 23px;
        }

        &.edit .material-icons {
          font-size: 23px;
        }

        &.download .material-icons {
          font-size: 26px;
        }

        &.delete .material-icons {
          font-size: 26px;
        }
      }
    }
  }
}

.points-of-interest {
  .poi {

    .coordinates {
      flex: 0 0 auto;
      text-align: right;
      // font-family: 'Ubuntu Mono', monospace;
    }
  }
}

input {
  padding: 0.6rem 0.7rem;
  background-color: #fff;
  color: #1f1f1f;
  border: 2px solid #e3e4e4;
  border-radius: 5px;
  transition: all 150ms cubic-bezier(0, 0, 0.2, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);

  &::placeholder {
    color: #888;
    opacity: 1;
  }

  &:hover {
    border-color: #727274;
  }

  &:focus {
    border-color: #727274;
    box-shadow: 0 0 0 5px rgb(58, 54, 54, 0.2);
  }
}

#upload-points-of-interest-file, #upload-gpx-file {
  display: none;
}
